In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
floodrisk = pd.read_csv("open_flood_risk_by_postcode.csv", header=None, names=[])
floodrisk.head()

Empty DataFrame
Columns: []
Index: [(TR23 0PR, \N, None, \N, \N, \N, 87897, 15021, 49.953604999999996, -6.352647), (TR23 0WA, \N, None, \N, \N, \N, 87903, 15077, 49.954111, -6.352608999999999), (TR22 0PL, \N, None, \N, \N, \N, 88364, 8478, 49.895171000000005, -6.340873), (TR24 0QE, \N, None, \N, \N, \N, 88849, 15298, 49.956586, -6.339638), (TR24 0QL, \N, None, \N, \N, \N, 88857, 15392, 49.957433, -6.339603)]

In [3]:
elevation = pd.read_csv("open_postcode_elevation.csv", names=["Postcode", "Elevation/m"])
elevation.head()

   Postcode  Elevation/m
0  AB10 1AB           20
1  AB10 1AF           20
2  AB10 1AG           20
3  AB10 1AH           10
4  AB10 1AL           20

In [ ]:
houseprices = pd.read_csv("uk-housing-prices-paid.csv")
houseprices.head()